.sidebar {
  width: 200px;
  background-color: #f0f0f0;
  padding: 20px;
}

.sidebar-option {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar-option:hover {
  background-color: #ddd;
}

.selected {
  background-color: #b4d5fe;
  font-weight: bold;
}
