.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.search-container input[type="text"] {
  width: 250px;
  padding: 10px;
  margin-right: 5pxpx;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.search-container button {
  padding: 10px 20px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #09f;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.spinner-container {
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: white;
  top: 83px;
  left: -10px;
  align-items: center;
  height: 90vh;
  width: 100vw;
  z-index: 5;
}
.dropdown-s {
  color: black;
  cursor: pointer;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 1;
  transform: perspective(1000px);
}

.dropdown-menu-s {
  background-color: #fff;
  list-style-type: none;
  margin: 10px;
  padding: 0;
  position: absolute;
  left: 0;
  opacity: 0;
  text-align: center;
  top: 0;
  visibility: hidden;
  z-index: -99999;
}

.dropdown-menu-s li:first-child {
  cursor: default;
}

.dropdown-menu-s p {
  color: #000;
  display: inline-block;
  width: 100%;
  text-decoration: none;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.dropdown-menu-s p:hover {
  background: black;
  color: #fff;
}

.dropdown-s:hover .dropdown-menu-s {
  background: white;
  opacity: 1;
  visibility: visible;
  top: 100%;
  width: 100%;
  color: black;
  -webkit-transition: all 0.5s, background, 2s 0.5s linear;
  transition: all 0.5s, background 2s 0.5s linear;
}
